html,
body {
  padding: 0;
  margin: 0;
  font-family: Economica, Arial, Helvetica, sans-serif;
  background: #f0e6ef;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
