.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 100px 100px 100px;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  grid-row-start: 2;
  grid-column-start: 2;
  color: #4e3d66;
}

.link {
  font-size: 3rem;
  color: #424e8a;
}

.title,
.link {
  text-align: center;
  font-weight: bold;
}

.link:nth-of-type(1) {
  grid-row-start: 1;
  grid-column-start: 1;
}

.link:nth-of-type(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

.link:nth-of-type(3) {
  grid-row-start: 3;
  grid-column-start: 1;
}

.link:nth-of-type(4) {
  grid-row-start: 3;
  grid-column-start: 3;
}
